<%- include('header') %>
<form class="form-group" action="/cotacao" method="GET">
  <% if(cotacaoApi.cotacaoCompra === undefined) {%>
    <div class="mt-2 text-center">
      <span>Não há cotação disponível hoje...</span>
    </div>
  <% } else { %>
    <div class="mt-2 text-center">
      <span>Dólar hoje: </span> R$
      <%= cotacaoApi.cotacaoCompra %>
    </div>
  <% } %>
  <div>
    <input  class="form-control mt-2 form-control-lg"
            name="cotacao"
            id="cotacao" 
            type="text" 
            value="<%= cotacaoApi.cotacaoCompra %>"
            placeholder="Cotação dólar">
  </div>
  <div>
    <input  class="form-control mt-2 form-control-lg"
            name="quantidade" 
            id="qtd"
            type="text" 
            placeholder="Quantidade de dólares">
  </div>
  <div>
    <button id="btnConverter" class="btn mt-4 btn-primary btn-block">Converter</button>
  </div>
</form>
<%- include('footer') %>