<%- include('header') %>
<div class="flex-container">
  <form action="/cotacao" method="GET">
    <div class="boxCotacao">
      <span>Dólar hoje: </span> R$
      <%= cotacaoApi.cotacaoCompra %>
    </div>
    <div>
      <input name="cotacao" 
             type="text" 
             value="<%= cotacaoApi.cotacaoCompra %>"
             placeholder="Cotação dólar">
    </div>
    <div>
      <input name="quantidade" 
             type="text" 
             placeholder="Quantidade de dólares">
    </div>
    <div>
      <button>Converter</button>
    </div>
  </form>
</div>
<%- include('footer') %>